* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
}

p {
  color: white;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: black;
}

li {
  list-style-type: none;
}

h3 {
  background-color: rgb(70, 90, 75);
  border-radius: 7px;
}

button {
  color: white;
  font-size: 1em;
  margin: 10px;
  padding: 2px;
  background-color: rgba(175, 175, 175, 0.5);
  border: 2px solid black;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
}

button:active {
  background-color: aqua;
}

.title {
  width: 98vw;
  height: 1.5em;
  padding: 2px;
  text-align: center;
  color: white;
  font-weight: bolder;
}

.nav-links {
  display: flex;
  justify-content: space-evenly;
}

.header-links {
  background-color: rgba(25, 25, 25);
  border-top: 2px solid rgb(125, 125, 125);
  border-left: 2px solid rgb(125, 125, 125);
  border-right: 2px solid rgb(125, 125, 125);
  border-radius: 10px;
  color: white;
  font-weight: bolder;
  height: 2em;
  margin-bottom: -5px;
  text-align: center;
  text-decoration: none;
  width: 7em;
}

.header-links:active {
  color: aqua;
}


.day-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border: 2px solid rgb(125, 125, 125);
  border-radius: 20px;
  background-color: rgb(25, 25, 25);
  margin-top: -5px;
  padding: 10px 3px 0px 3px;
}

.day-data {
  width:10em;
  height: 3em;
  border: 1px solid white;
  border-radius: 20px;
  font-size: 12px;
  padding: 5px 40px 5px 10px;
  margin: 2px;
  background-color: black;
  color:white;
  cursor: pointer;
  position: relative;
  display: inline-block;
  user-select: none;
}

.day-data > h3 {
  background-color: black;
}

.day-data-dropdown {
  visibility: hidden;
}

.food-list-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 15px;
  color: white;
  margin: 5px;
}

.food-data {
  display: flex;
  flex-wrap: wrap;
  overflow-x: hidden;
  overflow-y: auto;
}

.food-items {
  background-color: black;
  margin: 2px;
  padding: 5px;
  border: 1px solid white;
  border-radius: 10px;
  height: 9em;
  width: 30vw;
}

.favorite-container {
  color: white;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  border: 2px solid rgb(125, 125, 125);
  border-radius: 20px;
  background-color: rgb(25, 25, 25);
  margin-top: -5px;
  padding: 10px 3px 0px 3px;
}

.week-list-container {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid rgb(125, 125, 125);
  border-radius: 20px;
  background-color: rgb(25, 25, 25);
  margin-top: -5px;
  padding: 10px 3px 0px 3px;
  height: 95vh;
}

.week-items {
  border-radius: 5px;
  border: 1px solid rgb(125, 125, 125);
  background-color: rgb(70, 90, 75);
  margin: 2px;
  width: 10em;
  height: auto;
}

.day-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.day-items {
  border: 1px solid white;
  border-radius: 5px;
  width: 7em;
}

.data-display {
  border: 1px solid white;
  border-radius: 10px;
  color: white;
  padding: 5px;
  height: 20em;
  width: auto;
  background-color: black;
}

.total-title {
  text-decoration: underline;
}

.favorite-list-container {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid rgb(125, 125, 125);
  border-radius: 20px;
  background-color: rgb(25, 25, 25);
  margin-top: -5px;
  padding: 10px 3px 0px 3px;
  height: 95vh;
}

.favorite-items {
  border-radius: 10px;
  border: 1px solid rgb(97, 97, 97);
  padding: 2px;
  background-color: black;
}